* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

a,
button,
h1,
h2,
h3,
h4 {
  color: rgb(40, 40, 40);
}
nav {
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0% 20%;
  min-height: 8vh;
  background: rgba(255, 255, 255, .6);
  backdrop-filter: blur(10px);
  z-index: 10;
}

nav,
a {
  text-decoration: none;
  color: #000;
  font-size: .9rem;
}

.nav-links a,
.nav-links button {
  margin: 0 0 0 2rem;
}

.logo {
  font-size: 1rem;
  font-weight: bold;
}

.btn {
  padding: .2rem 2rem;
  font-size: .6rem;
  color: #fff;
  background-color: #3056f5;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

/* FP */
.first-page {
  min-height: 100vh;
  padding: 0% 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.first-page-txt {
  z-index: 2;
  text-align: center;
  padding: 0 0 10rem;
}
.first-page-title {
  font-size: 1.5rem;
}
.first-page-subtitle {
  font-size: 3rem;
}
.intro-vid {
  position: absolute;
}

/* Second Page */

.second-page{
  min-height: 125vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.smoke-vid {
  position: absolute;
  height: 100%;
  width: 100vw;
  object-fit: cover;
  z-index: 1;
}

.second-page-txt {
  padding: 5% 30%;
  font-size: 3.5rem;
  position: relative;
  font-weight: bold;
  z-index: 2;
}

/* Third Page - Phone Split */

.third-page {
  position: relative;
  padding: 0% 20%;
}

.product-txt-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  background: #fff;
}

.phone-size {
  font-size: 2rem;
  font-weight: bold;
}

.pro-size {
  text-align: right;
}

.max-size {
  text-align: left;
}

.product-images {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.large-phone {
  position: relative;
  transform: translateX(40%) scale(.8);
  z-index: 1;
}

.small-phone {
  position: relative;
  z-index: 2;
  transform: translateX(-40%) scale(.8);
}

.retina-line {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-45%, -15%);
  font-size: .8rem;
  font-weight: bold;
}

/* forth page */
.forth-page {
  min-height: 100vh;
  display: flex;
  position: relative;
  background: #fff;
}

.purchase-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex: 1;
}

.phone-gallery {
  display: flex;
  align-self: flex-start;
}

.phone-gallery img {
transform: scale(.8);
}

.phone-gallery-container {
  min-width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swatch-container {
  text-align: center;
}

.swatch-container span {
  font-size: .8rem;
}

.swatches img {
  padding: 0 .3rem;
  cursor: pointer;
}

.purchase-right {
  flex: 1;
  position: relative;
  background: black;
}

.purchase-right img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%) scale(.8);
  transform-origin: bottom;
}

/* fifth page */
.fifth-page {
  min-height: 100vh;
}

.product-video {
  position: absolute;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

.product-info-container {
  position: relative;
  /* color: #fff; */
  display: flex;
  min-height: 100vh;
  padding: 0% 10rem;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.right-info, 
.left-info {
  width: 20%;
}

.left-info h3, .right-info h3 {
  padding: 3rem 0;
  color: rgb(185, 185, 185);
}

.left-info span, .right-info span {
  font-size: 1.5rem;
  color: #fff;
}

.blue{
  z-index: 1;
}

/* sixth page */
.sixth-page {
  min-height: 100vh;
  padding: 10% 20%;
  justify-content: space-between;
  position: relative;
  display: flex;
}

.portrait {
  height: 70vh;
}

.phone-title {
  font-size: 2rem;
}

.photo-subtitle {
  font-size: 4rem;
}
.phone-video {
  position: absolute;
  bottom: 0;
  left: 40%;
  transform: translate(-50%, 0);
  z-index: 2;
}

.phone-video video {
  position: absolute;
} 

.phone-video img {
  bottom: 0;
  left: 0;
  z-index: 2;
  transform: scale(.8);
}

.phone-video video {
  left: 1.13rem;
  bottom: 1.26rem;
  transform: scale(.8);
  border-radius: 2.5rem;
}